    .watch-later-container {
        padding: 20px;
        max-width: 1200px; 
        margin: auto; 
    }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  select {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%; 
    max-width: 300px; 
    display: block;
    margin: 0 auto; 
  }
  
 
  .anime-card {
    flex: 1 0 21%; 
    margin: 10px; 
    min-width: 150px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
  }
  
  .anime-card img {
    width: 100%; 
    height: auto; 
  }
  
  .backtomain {
    text-decoration: none;
    color: white;
  }

